<h5 mat-dialog-title>Add channels</h5>
<mat-dialog-content>
    <div *ngFor="let channel of backend.allChannelsArrayForUse">
        <div class="card m-1">
            <div class="card-body hstack gap-2">
                <span>
                    {{ channel['channelName'] }}
                </span>

                <button mat-icon-button class="ms-auto" (click)="addChannelToUser(channel)" [mat-dialog-close]="true">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <mat-divider style="margin-top: 3rem; margin-bottom: 3rem;"></mat-divider>

    <form align="end">
        <mat-form-field appearance="outline" (ngSubmit)="createANewChannel()">
            <mat-label>New channel</mat-label>
            <input matInput [(ngModel)]="channelName" name="test" autofocus>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" class="m-3" [mat-dialog-close]="true">
            Create
        </button>
    </form>
</mat-dialog-content>