<mat-card id="login">

  <mat-card-title>Log in</mat-card-title>

  <mat-card-content>

    <form>
      <div>
        <mat-form-field>
          <input [(ngModel)]="inputUsername" name="inputUsername" matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="inputPassword" name="inputPassword" matInput placeholder="Password" type="password">
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="primary" (click)="logIn()">Log in</button>

        <button mat-button color="accent" routerLink="/register">Create new account</button>
      </div>
    </form>

  </mat-card-content>

</mat-card>