<div id="workspace" >
    <router-outlet></router-outlet>


    <form (ngSubmit)="manageMessageSending()" class="messageInput hstack gap-2 p-1">

        <textarea class="form-control me-auto" name="test" id="" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [ngModel]="message">
        </textarea>

        <button type="submit" mat-icon-button>
            <mat-icon>send</mat-icon>
        </button>

    </form>


    <ckeditor class="ckeditor d-none" [editor]="Editor" data=""></ckeditor>
</div>