#workspace {
    position: inherit;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ckeditor {
    position: fixed;
    bottom: 1rem;
    z-index: 1;
}
:host ::ng-deep .ck-editor__editable_inline {
    min-height: 5rem;
}
