#workspace {
    .main {
        position: inherit;
        height: calc(100vh - 64px - 64px);

        // positions Message-InputField at bottom BUT has no effect on width/autoresize of InputField like positon-fixed.
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // positions Message-InputField at bottom BUT has no effect on width/autoresize of InputField like positon-fixed.
    }
}

.messagesContainer {
    position: relative;
    width: 100%;
    display: inline-flex;

    &.messageOfMe {
        justify-content: end;
        mat-card {
            background-color: rgba(110, 66, 193, 0.1);
        }
    }

    mat-card{
        max-width: 75%;
        margin: 2px;
        
        .tools {
            position: absolute;
            right: 1rem;
            top: -1rem;
            visibility: hidden;
        }
    
        &:hover .tools {
            visibility: visible;
        }
    
        .header{
            margin-bottom: 1rem;
            font-size: small;
            display: flex;
            width: 100%;
            strong{
                margin-right: 1rem;
            }
        }

        img{
            max-width: 10rem;
        }

        mat-card-content{
            word-break: break-all;
        }
    }
}
