<div id="workspace">

    <div class="messagesContainer" *ngFor="let content of backend.actualConversation.messages" style="overflow-y: scroll;">
        <p>
            <mat-card>
                <mat-card-title>{{ content.creatorId }}</mat-card-title>
                <mat-card-subtitle>{{ content.timestamp | date: 'dd.MM.y HH:mm' }}</mat-card-subtitle>
                <mat-card-content>{{ content.messageContent }}</mat-card-content>
            </mat-card>
        </p>
    </div>

    <form #messageInput="ngForm" (ngSubmit)="manageMessageSending()" class="hstack gap-2 messageInputField">

        <textarea class="form-control me-auto" [(ngModel)]="messageJson.messageContent" name="test" id=""
            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" autofocus>
        </textarea>

        <button type="submit" mat-icon-button (click)="messageInput.resetForm()">
            <mat-icon>send</mat-icon>
        </button>

    </form>

    <ckeditor class="ckeditor d-none" [editor]="Editor" data=""></ckeditor>

</div>