#workspace {
    .main {
        position: inherit;
        height: calc(100vh - 64px - 64px);

        // positions Message-InputField at bottom BUT has no effect on width/autoresize of InputField like positon-fixed.
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // positions Message-InputField at bottom BUT has no effect on width/autoresize of InputField like positon-fixed.
    }
}

.messagesContainer {
    position: relative;
    .tools {
        position: absolute;
        right: 10px;
        top: 10px;
        visibility: hidden;
    }

    &:hover .tools {
        visibility: visible;
    }
}
