<mat-nav-list id="sidebar">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node class="highlight" *matTreeNodeDef="let node" matTreeNodePadding>
            <!-- <button mat-icon-button disabled></button> -->
            <div>
                {{node.name}}
            </div>
        </mat-tree-node>

        <mat-tree-node class="highlight showTools" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>

            <div class="w-100 hstack gap-3">
                {{node.name}}

                <div class="tools ms-auto">
                    <button mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>

        </mat-tree-node>
    </mat-tree>

    <div>
        <div id="Channels">Channels</div>
        <div id="Direct messages">Direct messages</div>
    </div>
</mat-nav-list>
