// let thread unvisible to focus on buidling sidebar and workspace. After they are finished, delete this.

// let thread unvisible to focus on buidling sidebar and workspace. After they are finished, delete this.


#thread{
    min-width: 10rem; //Just for test, after design of CkEditor finished, delete this.
    width: 40rem;
}


.ckeditor{
    position: fixed;
    bottom: 10rem;
    z-index: 1;
}
:host ::ng-deep .ck-editor__editable_inline {
    min-height: 5rem;
}